# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environments
venv/
env/

# Data files
data/

# Jupyter checkpoints
.ipynb_checkpoints/

# Model files
models/
